<div class="widget widget-author">
    <div class="widget-title">
        <h3>Auteur</h3>
    </div>
    <div class="widget-body">
        <div class="media align-items-center">
            <div class="avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
            </div>
            <div class="media-body">
                <h6> <br> Walid </h6>
            </div>
        </div>
        <p>
            Développeur web et passionné par l'informatique, je gère la maintenance et la rédaction des articles.
        </p>
    </div>
</div>