        <div class="widget widget-latest-post">
            <div class="widget-title">
                <h3>Les articles récents</h3>
            </div>
            <div class="widget-body">
                {% for article in threeLastArticles %}
                <div class="latest-post-aside media">
                    <div class="lpa-left media-body">
                        <div class="lpa-title">
                            <h5><a href="{{path('detail_article', { 'slug' : article.slug})}}">{{article.titre}}</a></h5>
                        </div>
                        <div class="lpa-meta">
                            <a class="name" href="#">
                               Admin
                            </a>
                            <a class="date" href="#">
                                {{ article.createdAt|date("m/d/Y") }}
                            </a>
                        </div>
                    </div>
                    <div class="lpa-right">
                        <a href="#">
                            <img src="{{asset('uploads/article_image/' ~ article.coverImage) | imagine_filter('thumbnail') }}" title="" alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
    
            </div>
        </div>