<div class="d-lg-none d-sm-block ">
    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">

        {% for cat in categories %}
        <li class="nav-item">
            <a class="nav-link " aria-current="page"
                href="{{path('article_category_list', {'libelle' :cat.libelle })}}">{{cat.libelle}}</a>
        </li>
        {% endfor %}
    </ul>
    <form class="d-flex" action="{{path('search')}}">
        <input type="search" class="form-control me-2" name="search" type="text" placeholder="Search"
            aria-label="Search" aria-describedby="search-addon" />
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>