<div class="col m-15px-tb blog-aside">
    <!-- Author -->
    <div class="widget widget-author">
        <div class="widget-title">
            <h3>Author</h3>
        </div>
        <div class="widget-body">
            <div class="media align-items-center">
                <div class="avatar">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                </div>
                <div class="media-body">
                    <h6>Hello, I'm<br> Rachel Roth</h6>
                </div>
            </div>
            <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                modern websites, web services and online stores</p>
        </div>
    </div>


    {% if threeLastArticles is defined %}
    <div class="widget widget-latest-post">
        <div class="widget-title">
            <h3>Les posts les plus récents</h3>
        </div>
        <div class="widget-body">
            {% for article in threeLastArticles %}
            <div class="latest-post-aside media">
                <div class="lpa-left media-body">
                    <div class="lpa-title">
                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                    </div>
                    <div class="lpa-meta">
                        <a class="name" href="#">
                            Rachel Roth
                        </a>
                        <a class="date" href="#">
                            26 FEB 2020
                        </a>
                    </div>
                </div>
                <div class="lpa-right">
                    <a href="#">
                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endif %}



    {% if threeArticlesByCategory is defined %}
    <div class="widget widget-latest-post">
        <div class="widget-title">
            <h3>Les articles similaires</h3>
        </div>
        <div class="widget-body">
            {% for article in threeLastArticles %}
            <div class="latest-post-aside media">
                <div class="lpa-left media-body">
                    <div class="lpa-title">
                        <h5><a href="#">Prevent 75% of visitors from google analytics</a></h5>
                    </div>
                    <div class="lpa-meta">
                        <a class="name" href="#">
                            Rachel Roth
                        </a>
                        <a class="date" href="#">
                            26 FEB 2020
                        </a>
                    </div>
                </div>
                <div class="lpa-right">
                    <a href="#">
                        <img src="https://via.placeholder.com/400x200/FFB6C1/000000" title="" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endif %}
</div>