<ul class="nav flex-column  ">
    <div class="mx-auto my-3">

        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553__340.png" height="200" width="200" alt=""
            srcset="">

        <div class="my-3">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>

        </div>


    </div>









</ul>
<div class="row">
    <div class="col-10 mx-auto">
        <form action="">
            <div class="input-group rounded">

                <input type="search" class="form-control rounded" type="text" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button class="input-group-text border-0" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>

                </button>

            </div>
        </form>
    </div>
</div>