{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

<div class="row p-0 m-0">
    <div class="col-8">

        {% if articles|length > 0 %}
        {% include "shared/_card.html.twig" with {'articles': articles} %}
        {% else %}

        <div class="container d-flex h-50 ">
            <div class="row align-self-center mx-auto">
                Aucun résultat ne correspond à votre recherche.
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-4 d-md-none d-lg-block">

        <div class="col m-15px-tb blog-aside">
            <!-- Author -->
            <div class="widget widget-author">
                <div class="widget-title">
                    <h3>Author</h3>
                </div>
                <div class="widget-body">
                    <div class="media align-items-center">
                        <div class="avatar">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" title="" alt="">
                        </div>
                        <div class="media-body">
                            <h6>Hello, I'm<br> Rachel Roth</h6>
                        </div>
                    </div>
                    <p>I design and develop services for customers of all sizes, specializing in creating stylish,
                        modern websites, web services and online stores</p>
                </div>
            </div>



            {{LastArticle()}}





        </div>

    </div>

</div>


<div class="pagination">
    <div class="mx-auto">
        {{ knp_pagination_render(articles) }}
    </div>
</div>
{% endblock %}