{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

<div class="row p-0 m-0">
    <div class="col-lg-8">

        {% if articles|length > 0 %}
        {% include "shared/_card.html.twig" with {'articles': articles} %}
        {% else %}

        <div class="container d-flex h-50 ">
            <div class="row align-self-center mx-auto">
                Aucun résultat ne correspond à votre recherche.
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-4 d-md-none d-lg-block">

        <div class="col m-15px-tb blog-aside">
            <!-- Author -->
            {{Description()}}



            {{LastArticle()}}





        </div>

    </div>

</div>


<div class="pagination">
    <div class="mx-auto">
        {{ knp_pagination_render(articles) }}
    </div>
</div>
{% endblock %}