{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

{% include "shared/_card.html.twig" with {'articles': articles} %}

<div class="pagination">
    <div class="mx-auto">
        {{ knp_pagination_render(articles) }}
    </div>
</div>
{% endblock %}